<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %>保存に失敗しました</h2>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %> 
<div class="field">
  <%= f.text_field :open_at, :placeholder => '日付', :data => {:behaviour => 'datepicker'} %><br>
  <%= f.text_field :name, :placeholder => 'イベント名' %><br>
  <%= f.text_field :place_id, :placeholder => '場所' %><br>
</div>

