<div class="btn-group">
  <a class="btn btn-primary" href="#"><i class="icon-plus"></i> 追加</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">曲を追加</a></li>
    <li><a href="#">イベントを追加</a></li>
  </ul>
</div><!-- /btn-group -->
