<div class="btn-group">
  <a class="btn btn-primary" href="#"><i class="icon-plus"></i> 追加</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to '曲を追加', '/timeline/new_song' %></li>
    <li><%= link_to 'イベントを追加', '/timeline/new_event' %></li>
  </ul>
</div><!-- /btn-group -->
